.navbar-brand img{
	width: 80px;
}
.banner-image{
	background: url(../images/banner-image.png);
    background-size: cover;
    background-position: bottom center;
    height: 550px;
    margin-left: 100px;
}
.navbar-default{
	background-color: #fff;
	border:none;
	border-radius: 0px;
	margin-right: 130px;

}
.navbar-default li{
	padding: 20px 10px;
	font-size: 10px;
	
	
}
.navbar-default .navbar-nav li a{
	color: #000;
	font-weight:bold;
} 
.banner-text{
	max-width: 300px;
    margin: auto;
    color: #fff;
    margin-top: 11%;
    font-size: 15px;

}
.banner-text span{
	letter-spacing: 5px;
	padding: 5px;

}
.banner-text a{
	border-radius: 0px;
	background-color: transparent;
	color: #fff;
	padding: 4px 20px;
	font-size: 10px;

}
.text-button{
	width: inherit;
	text-align: center;
}
.search{
	float: right;
	color: #fff;
}